header, footer {
    border: solid 1px black;
}

aside, article {
    min-width: 200px;
    overflow: hidden;
}

@media (max-width: 700px) {
    footer, header {
        display: none;
    }
    #article-media {
        margin-left: 0;
        border: none;
        height: auto;
    }
    #aside-media {
        height: auto;
        float: none;
        width: 100%;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header > h2, footer > h2 {
    font-style: normal;
    color: blue;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
}

aside a {
    text-transform: lowercase;
}

header, footer {
    background: #92bfed;
}

aside {
    float: left;
    width: 200px;
    height: 600px;
    background: #fff67b;
    padding: 0 10px;
}

article {
    margin-left: 221px;
    padding-left: 10px;
    height: 600px;
    border-right: 49px solid transparent;
    border-image-source: url("../img/border-ball.png");
    border-image-slice: 49;
    border-image-repeat: round;

}

article > h3 {
    text-align: center;
    text-transform: uppercase;
}

article > img {
    float: left;
    padding: 0 15px 5px 0;
}

.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
}