
.icon-baseball:before { content: '\e806'; } /* '' */
.icon-basketball:before { content: '\e807'; } /* '' */
.icon-bicycle:before { content: '\e80a'; } /* '' */
.icon-cricket:before { content: '\e813'; } /* '' */
.icon-football:before { content: '\e818'; } /* '' */
.icon-pitch:before { content: '\e82a'; } /* '' */
.icon-skiing:before { content: '\e836'; } /* '' */
.icon-soccer:before { content: '\e837'; } /* '' */
.icon-swimming:before { content: '\e838'; } /* '' */
.icon-tennis:before { content: '\e839'; } /* '' */